global  
	debug  
  
defaults  
	log global  
	mode    http  
	timeout connect 5000  
	timeout client 5000  
	timeout server 5000  
  
# Entry Point from the Internet
frontend main
	bind *:80
        # For modern clients use TLSv1.3 with no backward compability
	# At least TLSv1.2 should be used (with certain ciphersuites deactivated)
	# For old clients (use case: Web Shop) TLSv1.1 can be considered
	bind *:443 ssl crt /etc/ssl/certs/certificate-chain.pem ssl-min-ver TLSv1.3
	# If connetion is insecure, forward to https
	# and return "Moved Permanantly" (301 status)
	http-request redirect scheme https code 301 unless { ssl_fc }
    
	# Can be used for redirect in VM
	# http-request replace-value Host (.*):8080 \1:8081
	# http-request redirect code 301 location https://%[req.hdr(Host)]%[capture.req.uri] unless { ssl_fc }

	# Serve web page of the default backend web
	default_backend app

# Defines load balancing to both Docker containers
backend app
	# Prevents server load to become too big
	# Returns status code 503, if wait time is exceeded
	timeout queue 10s
        balance roundrobin
	# Define health check options
	# Make http request and check for status code 200
	# option http-check expect status 200
	# Connects to the server with hostname apache-1 on port 80
	# check enables the health check for the server
	# maxconn activates the queuing of too many requests
	server srv1 apache-1:80 maxconn 30
	server srv2 apache-2:80 maxconn 30

	# HSTS Configuration -> Tells the browser,
	# that a web page should only be accessed using HTTPS
	# max-age is set in seconds; includeSubDomains can be specified
	# This line of configuration is to prevent man-in-the-middle attacks
	# due to non-encrypted communication. Otherwise, an attacker has the
	# opportunity to change the original redirect address
	# (Should be disabled for redirect in local VM environment)
	http-response set-header Strict-Transport-Security max-age=63072000
